.ChecklistItem {
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.ChecklistItem.disabled .ChecklistCell {
  color: rgba(0, 0, 0, 0.5);
}

.ChecklistItem.selected .ChecklistCell {
  background-color: #ddd;
}

.ChecklistItem:hover .ChecklistCell {
  background-color: #eee;
}

.ChecklistCell {
  background-color: #fff;
  padding: 1rem 1rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  display: relative;
}
.ChecklistItem .ChecklistCell {
  border-top: 1px solid #ccc;
}
