.ChecklistItem {
  cursor: pointer;
  border-top: 1px solid #ccc;
}

.ChecklistItem.selected {
  background: #ddd;
}

.ChecklistItem:hover {
  background: #eee;
}

.ChecklistCell {
  padding: 1rem 1rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
